@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-ibm-plex-serif: "IBM Plex Serif", serif;
    --font-ibm-plex-sans: "IBM Plex Sans", sans-serif;
    --color-black-me: #191724;
    --color-white-me: #e0def4;
    --color-white-muted-me: #6e6a86;
    --color-white-high-me: #908caa;
    --color-violet-me: #c4a7e7;
    --color-rose-me: #ebbcba;
    --color-love-me: #eb6f92;
}

html {
    font-size: 18px;
}
