---
import Layout from '../layouts/Base.astro';
---

<Layout>
    <div class="container">
        <h1>Calculator</h1>
        <div class="calculator">
            <input placeholder="2+2" type="text" id="user-input">
            <div class="result-calculator">
                <p id="result"></p>
                <div id="save-result-btn">+</div>
            </div>
        </div>
        <div id="save-list"></div>
    </div>
</Layout>

<script src="../scripts/calculator.ts"></script>

<style>
h1 {
    text-align: center;
    margin: 16px;
}

ul {
    position: absolute;
    width: 610px;
    height: 320px;
    font-size: 1.2rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#save-list {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 620px;
    min-width: 320px;
    max-width: 1024px;
    background-color: #e6104e;
    box-shadow: #e6104e 0px 0px 124px;
    padding: 4px;
    border-radius: 6px;
}

.calculator input {
    width: 100%;
    border: 0;
    background-color: transparent;
    outline: 0;
    color: #fff;
    font-size: 1.4rem;
    padding: 4px 0px 8px 6px;
}

.calculator input::placeholder {
    color: #ffffff70;
}

.result-calculator {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.8rem;
    padding: 4px;
    background-color: #151515;
    border-radius: 3px;
}

#result {
    padding: 0 0 0 5px;
    width: 100%;
}

#save-result-btn {
    width: 40px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

</style>
