---
import Layout from '../layouts/Base.astro';
import Menu from '../components/Menu.astro';
---

<Layout>
    <Menu title="Menu">
        <a class="wip">about me</a>
        <a class="wip">blog</a>
        <a class="wip">projects</a>
        <a href="/utils">utilities</a>
        <hr>
        <a href="https://github.com/kamilkonefke" target="_blank">github.com</a>
        <a href="https://x.com/kamilkonefke" target="_blank">x.com</a>
        <a href="https://kamiidev.itch.io" target="_blank">itch.io</a>
    </Menu>
</Layout>
