---
import Layout from '../layouts/Base.astro';
import Menu from '../components/Menu.astro';
---

<Layout>
    <Menu title="Utils">
        <a href="/calculator">calculator</a>
        <a class="wip">color picker</a>
        <hr>
        <a href="/">back</a>
    </Menu>
</Layout>
