---
import { ClientRouter } from 'astro:transitions'
const { title } = Astro.props
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/icon.svg">
        <title>{title}</title>
    </head>

    <body class="bg-black-me text-white-me font-ibm-plex-serif">
        <ClientRouter/>
        <slot></slot>
    </body>

    <script is:inline src="//unpkg.com/alpinejs" defer></script>
</html>
